*{
	padding: 0px;
	margin: 0px;
	font-family: helvetica;
}
.success-message{
	margin-top: 20px;
	background-color: #27ae60;
	color: #FFF;
	padding: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

	.success-message a{
		color: #323941;
		font-weight: bold;
		text-decoration: none;
		margin-top: 10px;
		display: block;
	}
		input[type="submit"]{
		color: #FFF !important;
		padding: 10px;
		background-color: #27ae60 !important;
		width: 100%;

	}
.green-bg{
	background-color:#27ae60;
}
.green{
	color:#27ae60;
}

.orange-bg{
	background-color:#e67e22;
}
.orange{
	color:#e67e22;
}

.red-bg{
	background-color:#e74c3c;
}
.red{
	color:#e74c3c;
}
.wrapper{
	width: 100%;
	margin: auto;
}

.flex{
	display: flex;
}


#sidebar{
	margin-right: 20px;
	background-color: #323941;
	color: #FFF;
	min-width: 300px;
	text-transform: uppercase;
}
	#sidebar li{
		padding-left: 30px;
		padding: 0px;
		-webkit-transition: 0.5s; /* Safari */
    	transition: 0.5s;
	}
		#sidebar li:hover{
			background-color: #667482;
			border-left: 5px solid #429bd9;
		}
		#sidebar .menu-active{
			border-left: 5px solid #429bd9;
			background-color: #667482;
		}
	#sidebar a{
		color: #FFF;
		text-decoration: none;
		font-weight: bold;
		margin-left: 10px;
		display: block;
		height: 50px;
		line-height: 50px;
	}
	#sidebar h1{
		margin-top: 40px;
		padding-bottom: 30px;
		margin-bottom: 10px;
		padding-left: 20px;
	}
#main-area{
	width: 100%;
	min-height: 100vh;
}
#admin-body{
	background-color: #f7fdff;
}

#table{
	background-color: #667482;
	margin: 20px;
	margin-bottom: 50px;
}

	#table .table-header input{
		background-color: #667482;
		border:none;
		font-size: 30px;
		font-weight: bold;
		color: #f1c40f;
		margin-left: 10px;
	}
	#table .table-header input[type="submit"] {
		color: #FFF;
	    background-color: #323941;
	    border-radius: 0px;
	    padding: 10px;
	    font-size: 20px;
	}

	.table-header a{
		color: #FFF;
		padding-left: 30px;
		padding-right: 30px;
		background-color: #27ae60;
		font-size: 20px;
		text-decoration: none;
		font-weight: bold;
		height: 80px;
		line-height: 80px;
	}
	#table .table-header h1, p{
		margin-left: 20px;
		color: #FFF;
	}
	#table .table-header h1{
		font-size: 20px;
	}
	#table .table-header p{
		font-size: 12px;
	}
	#table .table-header{
		height: 80px;
		line-height: 80px;
	}
	.table-row{
		background-color: #FFF;
		padding: 10px;
		color: #2c3e50;
	}
	.row-edit input{
		background-color: inherit;
		border:none;
		font-weight: bold;
		color: #323941;
		font-size: 15px;
		height: auto;
	}
		.row-edit textarea{
			background-color: inherit;
			border:none;
			font-weight: bold;
			color: #323941;
			font-size: 15px;
			width: 100%;
			height: 100%;
		}
		.row-edit input[id="time"]{
			color: #323941;
			max-width: 90px;
			font-size: 2em;
		}
		.table-row li{
			font-weight: bold;
			margin-right: 10px;
			flex: 1;
			list-style-type: none;
			text-decoration: none;
			padding: 10px;
		}
			.table-row a{
				text-decoration: none;
				color: inherit;
				color: #FFF;
				display: block;
				padding: 10px;
				margin: 5px;
			}

		.table-row:nth-child(odd) {
    		background-color: #f3f5f7;
		}

		.image-list{
			width: 90%;
			display: block;
			margin-left: 10px;

		}
			.image-list div{
			float: left;
			margin: 10px;
		}
	.table-row .buttons{
				border-radius: 0px;
				width: 100%;
				color: #FFF;
				display: block;
				padding: 10px;
				margin: 5px;
	}
	.table-row .update{
		background-color: green;
	}
	.table-row .delete{
		background-color: red;
	}




